@model Ontrack.Models.Examination

<form asp-action="Create">
    <div>
        <label asp-for="ExamName"></label>
        <input asp-for="ExamName" />
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" />
    </div>
    <div>
        <label asp-for="ClassID">Class</label>
        <select asp-for="ClassID" asp-items="ViewBag.Classes"></select>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>
